In [1]:
import pandas as pd
import numpy as np
import pytz as tz

In [2]:
train = pd.read_csv('./data/train.csv')

In [7]:
train['pickup_datetime'] = pd.to_datetime(train['pickup_datetime'],infer_datetime_format=True)
train['dropoff_datetime'] = pd.to_datetime(train['dropoff_datetime'],infer_datetime_format=True)
print(train['pickup_datetime'].min())
print(train['pickup_datetime'].max())
print(train['dropoff_datetime'].min())
print(train['dropoff_datetime'].max())

2016-01-01 00:00:17
2016-06-30 23:59:39
2016-01-01 00:03:31
2016-07-01 23:02:03

In [8]:
def to_epoch(ts):
    return int((ts - pd.Timestamp('1970-01-01')) / np.timedelta64(1, 's'))

In [9]:
train['pickup_datetime_epoch'] = train['pickup_datetime'].apply(to_epoch)
train['dropoff_datetime_epoch'] = train['dropoff_datetime'].apply(to_epoch)

In [10]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_datetime_epoch,dropoff_datetime_epoch
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1457976295,1457976750
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1465692215,1465692878
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,1453203324,1453205448
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1459971151,1459971580
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1458999055,1458999490

In [11]:
train.to_csv('train_epoch.csv')

In [7]:
train[train.index < 1000].to_csv('./data/train_1000.csv')